<div fxLayout="column" fxFlex fxFlexFill>
  <div fxFlex="64px" [fxFlex.xs]="'56px'">
    <mat-toolbar color="primary">
      <span>Agile Cars</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="this.open()">
        <mat-icon color="accent">add_circle</mat-icon>
      </button>
      <button mat-icon-button (click)="this.viewMode = !this.viewMode">
        <mat-icon color="accent" *ngIf="this.viewMode">view_column</mat-icon>
        <mat-icon color="accent" *ngIf="!this.viewMode">list</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div fxFlex style="padding: 20px;">
    <ng-container *ngIf="this.viewMode; else elseTemplate">
      <app-card-car [dataSource]="this.dataSource.data"></app-card-car>
    </ng-container>
    <ng-template #elseTemplate>
      <app-table-car [dataSource]="this.dataSource"></app-table-car>
    </ng-template>
  </div>
  <app-loading [displayProgressSpinner]="Loading"></app-loading>
</div>
